// Color scheme -----------------------------------

@dbg: #234154; // Dark background
@dhl: #335F64; // Dark highlight
@dt2: #638F94; // Dark bg text secondary
@dt1: #93BFC4; // Dark bg text primary

@lbg: #FAF1E0; // Light background
@lhl: #EAE1D0; // Light highlight
@lt2: #AAA190; // Light bg text secondary
@lt1: #7A7160; // Light bg text primary

@red: #CA6E6A; // Red
@ora: #CB8D6A; // Orange
@yel: #DDBA7D; // Yellow
@gre: #7DB97A; // Green

@cya: #35C5BD; // Cyan
@blu: #65AFCD; // Blue
@vio: #AA85CB; // Violet
@mag: #CB7E9A; // Magenta

// Visual order -----------------------------------

@primary1: @blu;
@primary2: @gre;
@primary3: @cya;

@secondary1: @ora;
@secondary2: @yel;

@tertiary1: @red;
@tertiary2: @vio;
@tertiary3: @mag;

// Theme variant ----------------------------------

@text1: @lt1; // text primary
@text2: @lt2; // text secondary
@syntax-bg: @lbg; // background
@syntax-guide: @lhl; // background highlight

// Atom Base vars ---------------------------------

@syntax-fg: @text1; // text primary
@syntax-accent: @tertiary1; // cursor, markdown preview links, etc.
@syntax-selection: @syntax-guide;
@syntax-selection-gutter: @syntax-guide;
@syntax-cursor-line: fade(@syntax-selection, 26%); // needs to be semi-transparent to show serach results
